In [1]:
import pandas as pd
sku_sales = pd.read_csv("../data/sku_sales.csv")

In [2]:
sku_sales['order_time'] = pd.to_datetime(sku_sales['order_time']).dt.date

In [3]:
grouped_sku_sales = sku_sales.groupby(['order_time', 'store_id', 'sku_id', 'channel'])['quantity'].sum().reset_index()

In [4]:
grouped_sku_sales = grouped_sku_sales.rename(columns={'order_time':'date'})
grouped_sku_sales.to_csv('grouped_sku_sales_1.csv', index = False)

In [4]:
import pandas as pd

grouped_sku_sales = pd.read_csv("./grouped_sku_sales_1.csv")

In [5]:
sku_price_and_status = pd.read_csv("../data/sku_price_and_status.csv")

In [6]:
merged_group_sku_sales = pd.merge(grouped_sku_sales, 
                                  sku_price_and_status[['date', 'store_id', 'sku_id', 'salable_status', 'original_price']], 
                                  on=['date', 'store_id', 'sku_id'], how='left')

In [7]:
merged_group_sku_sales.to_csv('grouped_sku_sales_2.csv', index = False)

In [5]:
import pandas as pd
grouped_sku_sales = pd.read_csv("./grouped_sku_sales_1.csv")
sku_price_and_status = pd.read_csv("../data/sku_price_and_status.csv")
merged_group_sku_sales = pd.merge(grouped_sku_sales, 
                                  sku_price_and_status[['date', 'store_id', 'sku_id', 'salable_status', 'original_price']], 
                                  on=['date', 'store_id', 'sku_id'], how='left')

In [6]:
merged_group_sku_sales.to_csv('grouped_sku_sales_2.csv', index = False)

In [4]:
import pandas as pd
sku_sales2 = pd.read_csv("./grouped_sku_sales_2.csv")
store_weather = pd.read_csv("../data/store_weather.csv")

In [2]:
merged_group_sku_sales = pd.merge(sku_sales2, 
                                  store_weather, 
                                  on=['date', 'store_id'], how='left')

In [5]:
import pandas as pd
merged_group_sku_sales = pd.read_csv('grouped_sku_sales_2.csv')
merged_group_sku_sales = pd.merge(sku_sales2, 
                                  store_weather, 
                                  on=['date', 'store_id'], how='left')
quantity_col = merged_group_sku_sales.pop('quantity')
merged_group_sku_sales['quantity'] = quantity_col
merged_group_sku_sales.to_csv('grouped_sku_sales_3.csv', index = False)

In [2]:
import pandas as pd
sku_sales3 = pd.read_csv("./data/grouped_sku_sales_3.csv")
sku_prom = pd.read_csv("./data/sku_prom.csv")

In [14]:
merged_group_sku_sales = pd.merge(sku_sales3, 
                                  sku_prom, 
                                  on=[ 'store_id', 'sku_id', 'date','channel', ], how='left')

In [15]:
merged_group_sku_sales['curr_day_ratio'] = merged_group_sku_sales['curr_day']/merged_group_sku_sales['total_days']
merged_group_sku_sales.drop(columns = ['promotion_id', 'curr_day', 'total_days'], inplace = True)
merged_group_sku_sales.fillna(0, inplace = True)

In [18]:
merged_group_sku_sales = merged_group_sku_sales[['date', 'store_id', 'sku_id', 'channel', 'salable_status', 'original_price', 
                                               'weather_type', 'min_temperature', 'max_temperature',  'promotion_type', 
                                               'threshold', 'discount_off', 'curr_day_ratio', 'quantity',]]

In [20]:
merged_group_sku_sales.to_csv("grouped_sku_sales_4.csv", index = False)

In [21]:
merged_group_sku_sales

,date,store_id,sku_id,channel,salable_status,original_price,weather_type,min_temperature,max_temperature,promotion_type,threshold,discount_off,curr_day_ratio,quantity
0,2021-08-31,1,2,1,1.0,17.88,1,0.62,0.78,0.0,0.0,0.00,0.000000,5.0
1,2021-08-31,1,2,2,1.0,17.88,1,0.62,0.78,0.0,0.0,0.00,0.000000,1.0
2,2021-08-31,1,3,1,1.0,17.18,1,0.62,0.78,0.0,0.0,0.00,0.000000,8.0
3,2021-08-31,1,3,2,1.0,17.18,1,0.62,0.78,0.0,0.0,0.00,0.000000,2.0
4,2021-08-31,1,5,1,1.0,13.08,1,0.62,0.78,5.0,1.0,0.19,0.357143,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184656,2023-08-31,12,997,1,1.0,19.98,0,0.60,0.76,0.0,0.0,0.00,0.000000,2.0
4184657,2023-08-31,12,999,1,1.0,18.08,0,0.60,0.76,0.0,0.0,0.00,0.000000,2.0
4184658,2023-08-31,12,999,2,1.0,18.08,0,0.60,0.76,0.0,0.0,0.00,0.000000,2.0
4184659,2023-08-31,12,1000,1,1.0,27.38,0,0.60,0.76,0.0,0.0,0.00,0.000000,1.0
4184660,2023-08-31,12,1000,2,1.0,27.38,0,0.60,0.76,0.0,0.0,0.00,0.000000,2.0